@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  font-family: "Jura", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 10vw;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* back */

.back {
  width: 50px;
  height: 50px;
  margin: 50px 0px 0px 50px;
  transition: all 0.2s ease;
  position: relative;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.back img {
  width: 50px;
  height: 50px;
}

.back:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.container {
  width: 100vw;
  height: auto;
  position: relative;
  font-size: 40px;
  background: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_1280.png);
  background-repeat: repeat-y;
}

.container .content .resources {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.container .content .resources .resources-heading {
  width: 100vw;
  font-size: 50px;  
  padding-top: 10vh;
  padding-left: 10vw;
  margin-bottom: 10vh;
}

.container .content .resources .resources-link {
  width: 100vw;
  height: auto;
  font-size: 25px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 17vw;
}

.name{
    margin-bottom: 5vh;
}

.links{
    margin-bottom: 10vh;
}

.container .content .resources .resources-link ul {
  padding-left: 3vw;
}

.container .content .resources .resources-link a {
  color: white;
  padding-left: 3vw;
}
